body {
    background-image: url('maxi123.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.button-container {
    position: absolute;
    top: 62%; /* Ajusta el porcentaje según tu preferencia */
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-button {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 10px; /* Espacio horizontal entre los botones */
}

.glass-button:hover {
    background: rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}

/* Nueva regla CSS para los botones */
.glass-button + .glass-button {
    margin-left: 10px; /* Espacio horizontal entre los botones */
}
